body{
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
  color:  white;
}

.search{
  display: flex;
  justify-content: center;
}

.weather {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 2em 0 2em 0;
}

.weather.loading{
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading::after {
    visibility: visible;
    content: "loading...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
}

.fiveDay {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}


.forecastDaterHeader {
  font-size: 1.5rem;
  padding: var(--padding);
  padding-bottom: 0;
  margin-bottom: .5rem;
}
