body{
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;

}

.weather.loading{
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading::after {
    visibility: visible;
    content: "loading...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
}